@model IEnumerable<Data_Access_Layer.DTOs.AdminDTO>

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient me-lg-0">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">Customer List</h2>
        </div>
    </div>
    <div class="card-body border p-0 overflow-scroll">
        <table class="table table-bordered table-striped bg-dark">
            <thead class="text-light">
                <tr>
                    <th>Name</th>

                    <th>Phone</th>
                    <th>Address</th>
                    <th>More Info</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    if (obj.Address != null && obj.Tags != null)
                    {
                        <tr class="text-light">
                            <td>@obj.Name</td>

                            <td>@obj.Phone</td>
                            <td class="w-25">
                                No.@obj.Address.Number, @obj.Address.Street, @obj.Address.City, @obj.Address.State, @obj.Address.Zipcode
                            </td>
                            <td>
                                <button type="submit" class="w-15 btn btn-outline-success">More Info</button>
                                <button type="submit" class="w-15 btn btn-outline-success">Edit Details</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

